* {
  margin: 0;
  padding: 0;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.btn-disabled{
  background-color: #D0C9CE;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #divider-img{
    display: none;
  }
  .kb{
    display: none;
    width: 0px;
    border: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 776px) {
  #divider-img{
    display: none;
  }
  .kb{
    display: none;
    width: 0px;
    border: 0;
  }
}
